<ion-content class="custom-background">
  <div class="text-image-container">
    <div class="center-text">
      tuli
    </div>
    <img src="assets/icon/Vector 7.png " style="width: 20px; height: 40px;" alt="Descrição da imagem" class="image" />
  </div>


  <h1 class="main-text">Cadastro</h1>


  <ion-button color="custom" expand="block" class="botao1">
    Sou especialista
  </ion-button>
  <ion-button color="custom" expand="block" class="botao2">
    Sou cliente
  </ion-button>


  <p class="bottom-text">Já tem uma conta? <a [routerLink]="['/login']" class="link">Entrar</a></p>
</ion-content>
