<ion-content class="custom-background">
  <div class="text-image-container">
    <div class="center-text">
      tuli
    </div>
    <img src="assets/icon/Vector 7.png " style="width: 20px; height: 40px;" alt="Descrição da imagem" class="image" />
  </div>


  <h1 class="main-text">Cadastro</h1>


  <ion-button color="custom" expand="block" class="botao1">
    <a [routerLink]="['/cadastro-cliente']" >Sou especialista</a>
  </ion-button>
  <ion-button color="custom" expand="block" class="botao2">
    <a [routerLink]="['/cadastro-cliente']" >Sou cliente</a>
  </ion-button>


  <p class="bottom-text">Já tem uma conta? <a [routerLink]="['/login']" class="link">Entrar</a></p>
</ion-content>
