<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/Vector 7" alt="tuli logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-calendar [(ngModel)]="selectedDates" (change)="onDateChange($event)">
  </ion-calendar>

  <div class="legend">
    <ion-item>
      <ion-label>
        <ion-badge color="custom">Indisponível</ion-badge>
      </ion-label>
      <ion-label>
        <ion-badge color="light">Disponível</ion-badge>
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="footer-menu">
      <ion-col>
        <ion-button fill="clear" color="custom" routerLink="/agenda">
          <ion-icon name="calendar-outline"></ion-icon>
          Agenda
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="custom" routerLink="/chat">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          Chat
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" color="custom" routerLink="/perfil">
          <ion-icon name="person-outline"></ion-icon>
          Perfil
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
