<ion-header>
  <div class="text-image-container">
    <div class="center-text">
      tuli
    </div>
    <img src="assets/icon/Vector 7.png" style="width: 20px; height: 40px;" alt="Descrição da imagem" class="image" />
  </div>
</ion-header>

<ion-content>
  <div class="calendar-grid">
    <div class="calendar-header">
      <ion-button fill="clear" (click)="prevMonth()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <div class="month-year">{{ monthNames[currentMonth] }} {{ currentYear }}</div>
      <ion-button fill="clear" (click)="nextMonth()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="calendar-days">
      <div class="day-name" *ngFor="let day of dayNames">{{ day }}</div>
      <div
        class="day-cell"
        *ngFor="let day of calendarDays"
        [class.today]="day.isToday"
        [class.selected]="day.isSelected"
        [class.indisponivel]="day.isUnavailable"
        (click)="selectDate(day)">
        {{ day.date }}
      </div>
    </div>
  </div>
  <div class="legendas-container">
    <div class="legenda-item">
      <span class="circulo indisponivel"></span>
      <span>Indisponível</span>
    </div>
    <div class="legenda-item">
      <span class="circulo disponivel"></span>
      <span>Disponível</span>
    </div>
    <div class="legenda-item">
      <span class="circulo folga"></span>
      <span>Folga</span>
    </div>
  </div>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="footer-menu">
        <ion-col>
          <ion-button class="agenda" fill="clear" color="custom" routerLink="/especialista-calendario">
            <ion-icon name="calendar-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="custom" routerLink="/especialista-chat">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>  
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="custom" routerLink="/especialista-perfil">
            <ion-icon name="person-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
