<head>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<ion-header>
  <div class="text-image-container">
    <div class="center-text">
      tuli
    </div>
    <img src="assets/icon/Vector 7.png" style="width: 20px; height: 40px;" alt="Descrição da imagem" class="image" />
  </div>
</ion-header>

<ion-content>

  <div class="background-image">
    <img src="./assets/icon/back.jpeg" alt="Imagem de Fundo" class="background">
  </div>

  <div class="profile-container">
    <img src="/assets/icon/pexels-vinicius-wiesehofer-289347-1130626.jpg" alt="Foto de Perfil" class="profile-picture">
  </div>

  <div class="profile-info">
    <span class="name">{{ cliente.nome }}</span>
    <ion-button fill="clear" class="edit-button" routerLink="/cliente-editar-perfil">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="description">
    <p>{{ cliente.descricao }}</p>
  </div>


</ion-content>

<div class="altura"></div>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="footer-menu">
        <ion-col>
          <ion-button  fill="clear" color="custom" routerLink="/cliente-casa">
            <ion-icon name="home-outline"></ion-icon>
            <span></span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button    fill="clear" color="custom" routerLink="/cliente-chat">
            <ion-icon name="chatbubble-outline"></ion-icon>
            <span></span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="custom" routerLink="/cliente-produtos">
            <ion-icon name="cart-outline"></ion-icon>
            <span></span>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="perfil" fill="clear" color="custom" routerLink="/cliente-perfil">
            <ion-icon name="person-outline"></ion-icon>
            <span></span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
