ion-content {
    --background: #FBF8F4;
  }

  .text-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 60px;
    padding: 20px;
  }

  .image {
    width: 100px;
    height: auto;
    margin-left: 10px;
  }
  .center-text {
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    color: #D9B1AD;
    margin-top: 0;
    padding-top: 20px;
    text-align: left;
  }

  .text-1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #595859;
    text-align: center;
    margin-top: 10px;
    font-size: 27px;
  }

  .text-2{
    font-family: 'Josefin Sans', sans-serif;
    color: #595859;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }

  .link-text {
    text-align: left;
    margin-left: 60px;
  }

  .link-text a {
    color: #595859;
    text-decoration: underline;
    cursor: pointer;
  }

  .bottom-text {
    text-align: center;
    margin-top: 20px;
    color: #595859;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .custom-input, .custom-input2 ion-input {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .custom-input, .custom-input2 {
    width: 100%;
    max-width: 300px;
    background-color: #FFFFFF !important;
    border-radius: 8px;
    margin-top: 15px;
    color: #000000;
    border: 1px solid #D9B1AD;
  }

  ion-item {
    --background: #FFFFFF !important;
  }

  .botao {
    width: 80%;
    min-height: 50px;
    height: 30px;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background-color: #A95858;
    font-family: 'Prompt', sans-serif;

  }

  .link {
    color: #595859;
    text-decoration: underline;
    cursor: pointer;
  }

    .link-entrar{
      color: #FBF8F4;
      text-decoration: none;
      cursor: pointer;
    }
