ion-content {
    --background: #FBF8F4; /* Cor de fundo personalizada */
  }

  .text-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Mantém o texto e a imagem lado a lado */
    margin-top: 60px; /* Ajusta a distância do topo da tela */
    padding: 20px; /* Adiciona um espaçamento interno horizontal */
  }

  .image {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-left: 10px; /* Espaço entre a imagem e o texto */
  }
  .center-text {
    font-size: 60px; /* Tamanho da fonte */
    font-family: 'Josefin Sans', sans-serif; /* Fonte aplicada */
    line-height: 1.5; /* Ajuste a altura da linha conforme necessário */
    color: #D9B1AD;
    margin-top: 0; /* Remove qualquer margem padrão que possa empurrar o texto para baixo */
    padding-top: 20px; /* Ajusta o espaçamento no topo */
    text-align: left; /* Garante que o texto fique alinhado à esquerda */
  }

  .text-1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #595859;
    text-align: center;
    margin-top: 10px;
    font-size: 27px;
  }

  .text-2{
    font-family: 'Josefin Sans', sans-serif;
    color: #595859;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }

  .link-text {
    text-align: left;
    margin-left: 60px;
  }

  .link-text a {
    color: #595859; /* Cor do link */
    text-decoration: underline; /* Adiciona sublinhado */
    cursor: pointer; /* Muda o cursor para mãozinha */
  }

  .bottom-text {
    text-align: center;
    margin-top: 20px;
    color: #595859;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Espaçamento no topo */
  }

  .custom-input, .custom-input2 {
    width: 100%; /* Largura completa */
    max-width: 300px; /* Largura máxima */
    background-color: var(--background);
    border: 1px solid var(--border-color);
    color: var(--color);
    border-radius: 8px;
    margin-top: 15px;
  }


  .botao {
    width: 80%; /* Diminui o tamanho horizontalmente */
    min-height: 50px; /* Define uma altura mínima para o botão */
    height: 30px; /* Define uma altura fixa para o botão */
    color: white; /* Altera a cor do texto */
    border-radius: 10px; /* Opção para bordas arredondadas */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    display: block; /* Garante que o botão se comporte como um bloco */
    margin-top: 60px;
    font-size: 20px; /* Tamanho da fonte */
    line-height: 30px; /* Define a altura da linha para centralizar verticalmente o texto */
    text-align: center; /* Centraliza o texto */
    background-color: #A95858;
    font-family: 'Prompt', sans-serif;
  }

  .link {
    color: #595859; /* Cor do link */
    text-decoration: underline; /* Adiciona sublinhado */
    cursor: pointer; /* Muda o cursor para mãozinha */
  }
