ion-content {
  --background: #FBF8F4; /* Cor de fundo personalizada */

  .text-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .side-image {
    width: 100px;
    height: auto;
    margin-left: 20px;
  }
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  color: #D9B1AD;
}



.center{
 display: flex;
 flex-direction: column;
height: 100%;
 font-size: 30px;
 font-weight: 400;
 font-family: 'Josefin Sans', sans-serif;
 color:#A95858;

}
