.custom-back-arrow {
  position: absolute;
  left: 5px;
  z-index: 10;
  font-size: 24px;
}

.custom-back-arrow ion-icon {
  font-size: 25px;
  color: #D9B1AD;
  padding-top: 0px;
}


.detalhes-profissional-container {
  padding: 16px;
}

.perfil-info {
  text-align: center;
}

.foto-perfil {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 8px;
}

.nome-profissional {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  font-family: 'Josefin Sans', sans-serif;
}

.descricao-profissional {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  font-family: 'Prompt', sans-serif;

}

.estrela-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  margin-bottom: 16px;
}

.estrela-container1 {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

.estrela-icon {
  color: #A95858;
}

.mensagem-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #A95858;
  color: #fff;
  width: 80%;
  height: 80%;
  margin-bottom: 20px;
}

.feedback-section {
  margin-top: 24px;
}

.Feedback-h3{
  font-size: 30px;
  font-weight: lighter;
  color: #595859;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 25px;
}

.feedback-card {
  display: flex;
  margin-bottom: 16px;
}

.feedback-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-feedback {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  padding-left: 20px;
}

.feedback-detalhes {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.feedback-data {
  font-size: 12px;
  color: #999;
}

.feedback-texto {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  font-family: 'Prompt', sans-serif;
}

.botao{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.botao ion-button{
  align-items: center;
  --background: #A95858 ;
  --color: #FBF8F4;
  border: none;
  width: 50%;
  height: 90%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  border-radius: 5px;
}

.data-doFeedback{
  display: flex;
  flex-direction: row;
}
