<head>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<ion-content class="custom-background">

  <div class="custom-back-arrow" >
    <ion-icon name="arrow-back-outline" [routerLink]="['/cadastro']" ></ion-icon>
  </div>


<div class="text-image-container">
  <div class="center-text">
    ESPECIALISTA
  </div>
  <img src="assets/icon/Vector 8.png " style="width: 20px; height: 40px;" alt="Descrição da imagem" class="image" />
</div>

  <p class="description-text">
    Preencha os campos:
  </p>


  <div class="container">

    <ion-item class="custom-input">
      <ion-label position="floating">Nome completo</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <h1 class="datadenascimento">Data de Nascimento</h1>
    <ion-item class="custom-input">
      <ion-label position="floating"></ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>


    <ion-item class="custom-input">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-label position="floating">Confirmar senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div>

  <p class="info-text">
    Ao clicar em “Avançar”, você concorda com nossos Termos e Condições e com a nossa Política de Privacidade.
  </p>

  <ion-button class="botao" expand="block" color="custom">
    <a class="link-entrar" [routerLink]="['/registro-emec']">Avançar</a>
  </ion-button>


  <p class="footer-text">
    Já possui cadastro?  <a [routerLink]="['/login']" >Faça o login</a>
  </p>
</ion-content>
