

<ion-content class="custom-background">

    <div class="custom-back-arrow" >
      <ion-icon name="arrow-back-outline" [routerLink]="['/login']" ></ion-icon>
    </div>
  
  
  <div class="text-image-container">
    <div class="center-text">
      tuli
    </div>
    <img src="assets/icon/Vector 7.png " style="width: 20px; height: 40px;" alt="Descrição da imagem" class="image" />
  </div>
  
    <!-- Texto de introdução -->
    <div class="intro-text">
      <h2>Esqueceu sua senha?</h2>
      <p>Digite seu endereço de email abaixo e enviaremos um link para redefinir sua senha.</p>
    </div>

    <!-- Campo de Email -->
    <ion-item class="custom-input">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ></ion-input>
    </ion-item>
  

    <!-- Botão para Enviar Link -->
    <ion-button class="redefinicao" expand="block" type="submit">Enviar Link de Redefinição</ion-button>

 