
<head>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<ion-content class="custom-background">

    <div class="custom-back-arrow" >
      <ion-icon name="arrow-back-outline" [routerLink]="['/login']" ></ion-icon>
    </div>


  <div class="text-image-container">
    <div class="center-text">
      tuli
    </div>
    <img src="assets/icon/Vector 7.png " style="width: 20px; height: 40px;" alt="Descrição da imagem" class="image" />
  </div>


    <div class="intro-text">
      <h2>Esqueceu sua senha?</h2>
      <p>Digite seu endereço de email abaixo e enviaremos um link para redefinir sua senha.</p>
    </div>


    <div class="container">
      <ion-item class="custom-input">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </div>

    <!-- Botão para Enviar Link -->
    <ion-button class="redefinicao" color="custom" expand="block" type="submit">Enviar Link de Redefinição</ion-button>

    <p class="bottom-text">Não tem uma conta?  <a class="link" [routerLink]="['/cadastro']">Cadastre-se</a></p>
