.custom-back-arrow {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 10;
  font-size: 24px;
}

.custom-back-arrow ion-icon {
  font-size: 24px;
  color: black;

}

ion-content {
  --background: #FBF8F4;
}

.text-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 60px;
  padding: 20px;
}

.image {
  width: 100px;
  height: auto;
  margin-left: 10px;
}
.center-text {
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  color: #D9B1AD;
  margin-top: 0;
  padding-top: 20px;
  text-align: left;
}

  .intro-text {
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    color: #595859;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
  }

  p {
    color: #7a7979;
    font-family: 'Josefin Sans', sans-serif;
  }

  .custom-item {
    --background: #fff;
    --border-radius: 10px;
    --padding-start: 12px;
    --padding-end: 12px;
    --box-shadow: 0 0 0 1px #d2a19f;
    --highlight-color-focused: #d2a19f;
    margin-bottom: 20px;
  }

  ion-input::placeholder {
    color: #d2a19f;
  }

  ion-button {
    width: 80%;
    min-height: 50px;
    height: 30px;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background-color: #A95858;
    font-family: 'Prompt', sans-serif;

  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .custom-input {
    width: 100%;
    max-width: 300px;
    background-color: #FFFFFF !important;
    border-radius: 8px;
    margin-top: 15px;
    color: #000000;
    border: 1px solid #D9B1AD;
    font-family: 'Prompt', sans-serif;

  }


  ion-item {
    --background: #FFFFFF !important;
    width: 100%;
    max-width: 400px;
  }

  .bottom-text {
    text-align: center;
    margin-top: 20px;
    color: #595859;
  }

  .link {
    color: #595859;
    text-decoration: underline;
    cursor: pointer;
  }

  .redefinicao{
    margin-top: 30px;
    font-weight: normal;
  }
